/* Header.css */

.contenedor-header {
    background-color: #ffffff;
    border-bottom: 2px solid #e0e0e0;
    padding: 10px 20px;
}

.contenido-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.logo-header {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logo-header img {
    width: 50px;
    margin-right: 10px;
}

h1 {
    font-size: 24px;
    color: #ff4d4f;
    margin: 0;
}

/* Ajuste del tamaño del campo de búsqueda */
.barra-busqueda-header {
    padding: 8px;
    width: 180px; /* Ajustado para que sea más estrecho */
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.barra-busqueda-header::placeholder {
    color: #aaa;
}

.navegacion-header {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.navegacion-header a {
    color: #333;
    text-decoration: none;
    padding: 5px;
    font-size: 16px;
    position: relative;
    transition: all 0.3s ease;
}

.navegacion-header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ff4d4f;
    transition: all 0.3s ease;
}

.navegacion-header a:hover {
    color: #ff4d4f;
    font-size: 18px;
}

.navegacion-header a:hover::after {
    left: 25%;
    width: 50%;
}

/* Submenú para Comprar */
.menu-comprar, .menu-vender {
    position: relative;
}

.submenu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 10px;
    white-space: nowrap;
}

.menu-comprar:hover .submenu,
.menu-vender:hover .submenu {
    display: flex;
}

.submenu a {
    padding: 10px;
    color: #333;
    text-decoration: none;
    display: block;
}

.submenu a:hover {
    background-color: #f0f4f8;
    color: #ff4d4f;
}

/* Media Queries para hacer el header responsive */
@media (max-width: 768px) {
    .contenido-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-header {
        margin-bottom: 15px;
    }

    .barra-busqueda-header {
        width: 100%;
        margin-bottom: 15px;
    }

    .navegacion-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .navegacion-header a {
        font-size: 14px;
    }

    .barra-busqueda-header {
        width: 100%;
    }
}
