/* Header.css */

.contenedor-header {
    background-color: #ffffff;
    border-bottom: 2px solid #e0e0e0;
    padding: 10px 20px;
    POSITION: fixed;
    width: 100%;
    z-index: 300;
    top: 0;
}

.contenido-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.logo-header {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logo-header img {
    width: 200px;
    transition: all .5s ease-in-out;
}

.logo-header img:hover {
    transform: scale(1.1);
}

h1 {
    font-size: 24px;
    color: #ff4d4f;
    margin: 0;
}

/* Ajuste del tamaño del campo de búsqueda */
.barra-busqueda-header {
    padding: 8px;
    width: 38%;  /* Ajustado para que sea más estrecho */
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.barra-busqueda-header::placeholder {
    color: #aaa;
}

.navegacion-header {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.navegacion-header a {
    color: #333;
    text-decoration: none;
    padding: 5px;
    font-size: 16px;
    position: relative;
    transition: all 0.3s ease;
    font-weight: 600;
}

.navegacion-header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #d80000;
    transition: all 0.3s ease;
}

.navegacion-header a:hover {
    color: #d80000;
}

.navegacion-header a:hover::after {
    left: 5%;
    width: 90%;
}

/* Submenú para Comprar */
.menu-comprar, .menu-vender {
    position: relative;
}

.submenu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 10px;
    white-space: nowrap;
}

.menu-comprar:hover .submenu,
.menu-vender:hover .submenu {
    display: flex;
}

.submenu a {
    padding: 10px;
    color: #333;
    text-decoration: none;
    display: block;
}

.submenu a:hover {
    background-color: #f0f4f8;
    color: #d80000;
}

.user-sesion{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Botón de Menú Hamburguesa */
.menu-btn {
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001; /* Asegura que esté por encima del menú */
}

/* Ocultar menú de navegación en pantallas pequeñas */
.navegacion-header {
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 960px) {
    .menu-btn {
        display: block;
    }
    .navegacion-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #ffffff;
        padding: 60px 20px;
        transform: translateX(100%);
        width: 250px;
        z-index: 1000;
    }

    /* Mostrar el menú cuando esté abierto */
    .navegacion-header.show-menu {
        transform: translateX(0);
    }

    .contenido-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-header {
        margin-bottom: 0;
    }

    .barra-busqueda-header {
        width: 100%;
        margin-bottom: 15px;
    }
}

/* Ajustes adicionales para pantallas más pequeñas */
@media (max-width: 350px) {
    .navegacion-header a {
        font-size: 14px;
    }

    .barra-busqueda-header {
        width: 100%;
    }

    .navegacion-header {
        padding: 50px 10px;
    }

    .logo-header img {
        width: 150px; /* Reducir el tamaño del logo en pantallas pequeñas */
    }
}
