/* Globales */
*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'Lato';
	color: #333;
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tienda {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    position: relative;
    top: 120px;
}


.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

/* Main */
.container-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Mantener 4 columnas */
    gap: 30px; /* Espacio entre elementos */
    margin: auto; /* Centrar el contenedor */
    max-width: 1200px; /* Ancho máximo */
    padding: 0 20px; /* Espaciado lateral */
    padding-bottom: 80px; /* Espaciado inferior */
    width: 100%; /* Ancho al 100% */
    height: 100%; /* Altura al 100% (opcional, según el contenido) */
	padding-top: 120px;
}

/* Ajustar la altura de los elementos en el grid */
.item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
    display: flex; /* Usar flex para hacer que el contenido se ajuste */
    flex-direction: column; /* Alinear el contenido en columna */
}

/* Mantener el tamaño de imagen consistente */
.item img {
    border-radius: 10px 10px 0 0;
    height: 250px; /* Altura fija para las imágenes */
    object-fit: cover; /* Asegurar que las imágenes cubran el área sin deformarse */
    width: 100%; /* Ancho al 100% */
}


.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}



.item figure {
	overflow: hidden;
	margin: 0 !important;
}

.item:hover img {
	transform: scale(1.2);
	border-radius: 10px 10px 0 0;
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.price {
    font-size: 22px;
    font-weight: 600;
}

.info-product button {
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 10px;
	transition: all .3s ease-in-out;
}

.info-product button:hover {
    background-color: #d80000;

}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color: #333;
}

.btn-buy {
	border: none;
	background-color: #d80000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
 	font-size: 16px;
 	transition: all .3s ease;
}

.btn-buy:hover{
	background-color: green;
  }

 /* Botón flotante de agregar producto */
 .boton-agregar-producto {
    all: unset;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: #0eb942;
    bottom: 50%;
    right: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 100;
    font-size: 140px;
    background-color: white;
}
  
  .boton-agregar-producto:hover {
    background-color: white;
    color: #d80000;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }

@media (max-width: 1200px){
	.tienda {
		max-width: 1000px;
	}

	.container-items {
		display: grid;
		grid-template-columns: repeat(4, 1fr); /* Mantener 4 columnas */
		gap: 30px; /* Espacio entre elementos */
		margin: auto; /* Centrar el contenedor */
		max-width: 1000px; /* Ancho máximo */
		padding: 0 20px; /* Espaciado lateral */
		padding-bottom: 80px; /* Espaciado inferior */
		width: 100%; /* Ancho al 100% */
		height: 100%; /* Altura al 100% (opcional, según el contenido) */
		padding-top: 120px;
	}

	.item {
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		transition: all .3s ease-in-out;
	}
	.item img {
		height: 200px;

	}
	.info-product {
		gap: 10px;
		padding: 15px;
	}
	.info-product button {
		max-width: 100%;
		font-size: 90%;
	}
	.info-product h3, .info-product p {
		font-size: 100%;
	}
	.boton-agregar-producto {
		scale: .7;
		bottom: 0;
		right: 0;
	}
}

@media (max-width: 960px){
	.tienda {
		max-width: 860px;
		padding-top: 80px;
	}

	.container-items {
		display: grid;
		grid-template-columns: repeat(4, 1fr); /* Mantener 4 columnas */
		gap: 20px; /* Espacio entre elementos */
		margin: auto; /* Centrar el contenedor */
		max-width: 860px; /* Ancho máximo */
		padding: 0 20px; /* Espaciado lateral */
		padding-bottom: 50px; /* Espaciado inferior */
		width: 100%; /* Ancho al 100% */
		height: 100%; /* Altura al 100% (opcional, según el contenido) */
		padding-top: 120px;
	}

	.item {
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		transition: all .3s ease-in-out;
	}
	.item img {
		height: 180px;
		object-fit: cover;
	}
	.info-product {
		gap: 5px;
		padding: 10px;
	}
	.info-product button {
		max-width: 100%;
		font-size: 70%;
	}
	.info-product h3, .info-product p {
		font-size: 90%;
	}
}

@media (max-width: 768px){

	.tienda {
		max-width:600px ;
	}

	.container-items {
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		padding: 0 20px;
		padding-bottom: 50px;
		width: 100%;
		max-width: 600px;
		padding-top: 120px;
		margin: auto;
		width: 100%;
	}

	.item {
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		transition: all .3s ease-in-out;
	}
	.item img {
		max-height: 180px;
		object-fit: cover;
	}
	.info-product {
		gap: 5px;
		padding: 10px;
	}
	.info-product button {
		max-width: 100%;
		font-size: 60%;
	}
	.boton-agregar-producto {
		scale: .6;
	}
}

@media (max-width: 550px){

	.tienda {
		max-width: 400px ;
	}

	.container-items {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		padding: 0 20px;
		padding-bottom: 50px;
		max-width: 400px;
		width: 100%;
		padding-top: 120px;
		margin: auto;
		width: 100%;
	}

	.item {
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		transition: all .3s ease-in-out;
	}
	.item img {
		max-height: 200px;
		object-fit: cover;
	}
	.info-product {
		gap: 5px;
	}
	.info-product button {
		max-width: 100%;
		font-size: 70%;
	}
	.container-cart-products {
		width: 350px;
	}
	.boton-agregar-producto {
		scale: .5;
	}
	.form-container{
		width: 100%;
		margin: 20px;
	}

}

@media (max-width: 360px){

	.tienda {
		top: 90px;
		max-width: 300px;
	}


	.container-items {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		max-width: 300px;
		padding: 0 20px;
		padding-bottom: 50px;
		width: 100%;
		padding-top: 90px;
		margin: auto;
		width: 100%;
	}

	.item img {
		height: 100px;
		object-fit: cover;

	}
	.info-product {
		gap: 5px;
		padding: 10px;
	}
	.info-product button {
		max-width: 100%;
		font-size: 60%;
		padding: 5px;
		border-radius: 5px;
	}
	.info-product h3, .info-product p {
		font-size: 80%;
	}
	.container-cart-products {
		width: 280px;
	}

}

