/*1 section*/
.sec_banner_reg{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.img_banner_reg{
    width: 100%;
    z-index: -1;
    object-fit: inherit;
    min-height: 300px;
}
.sec_banner_reg div{
    position: absolute;
    right: 2%;
    width: 48%;
    display: flex;
    flex-wrap: wrap;
}
.sec_banner_reg h3{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 3.2em;
    color: #044fb5;
    width: 100%;
}
.asid_banner_btn_reg{
    font-size: 1.2em;
    background-color: rgb(22, 231, 22);
    border-radius: 20px;
    color: white;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.asid_banner_btn_reg button{
    font-size: 1.5em;
    background-color: #ff4d4f;
    border-radius: 20px;
    border: 4px solid white;
    margin: 0px 10px 0px 0px;
}
.asid_banner_btn_reg span{
    padding-right: 10px;
}

/*2 section*/
.asid_estadisticas{
    background-color: #044fb5;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.asid_estadisticas p{
    text-align: center;
    font-size: 1.2em;
    margin: 0px;
}
    /*=> 4 section --*/
/* 3  section */

.sec_empieza_ben{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.sec_empieza_ben img{
    border-radius: 20px;
    width: 80%;
    height: 100%;
}

.div_empieza_ben div{
    background-color: #f2f7e0;
    padding: 10px;
    border-radius: 20px;
}
.div_empieza_ben h3{
    font-size: 2em;
    margin: 5px 0px 5px 0px;
}
.div_empieza_ben div p::before{
    content: "✔";
    color: blue;
    font-size: 1.5em;
    margin-right: 5px;
}

/*4 section*/

.div_estadisticas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.div_estadisticas div{
    padding: 20px
}
.div_estadisticas > div:nth-child(2){
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 20px 10% 20px 10%;
}
.div_estadisticas h4{
    color: #c0e4fc;
    margin: 5px;
    font-size: 2em;
    text-align: center;
}

